@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.header-cartbtn {
  display: flex;
  justify-content: right;
  padding-left: 200px;
}

.header-cartbtn:hover{
   cursor: pointer;
  transition: all ease 0.2s;
  transform: scale(1.05);
}


.header-cartbtn button {
  display: flex;
  gap:10px;
  border: none;
  padding: 10px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 22px;        
  height: 22px;
  background: black;
  color: white;
  border-radius: 50%;  
}


.prod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  transition: all 0.5s ease;
}

.prod-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.prod-card img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.prod-card button {
  border: none;
  padding: 8px;
  border-radius: 6px;
  background-color: black;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.prod-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  margin: 30px;
}

.banner-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
}

.banner-sec img{
  display: flex;
  flex-wrap: wrap;
  width:900px;
  height:200px;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);


}

.cart-bill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bill-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.cardfor-cart {
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.cartCard-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  flex: 1;
}

.cart-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-img img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.cart-img {
  flex-shrink: 0;
}

footer{
  position: fixed;
  bottom:0;
  width:100%;
  background:#f1f1f1;
}